/* style for the entire body*/
body{
    margin: 0px;
    padding: 0px;
    font-family: roboto;
}
/* style for  the main app container*/
.container{
    width: 85%;
    margin: auto;
    background-color: #6C7A89;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.app{
    width:100%;
    height: 100px;
    background-color: transparent;
    color: white;
    margin: 0px;
    padding: 0px;
}
svg{
    width: 50px;
    height: 50px;
}
.dadu{
    font-size: larger;
    font-weight: bolder;
    position: relative;
    top: -60px;
    left: 60px;
}
/* input container*/
.header{
    width: 80%;
    background-color: transparent;
    padding: 10px;
    margin: 0px 70px 0px 70px;
    background-color:transparent;
}
/*text inputs*/
input[type = text]{
    width : 35%;
    height: 40px;
    background-color: #6C7A89;
    border: 0px;
    border-bottom:1px solid white;
    text-indent: 15px;
    margin: 0px 10px 0px 10px;
    color: white;
    font-size: medium;
    font-weight: lighter;
    padding: 0px 15px 0px 0px;
}
/*input placeholder*/
input[type = text]::placeholder{
    color: white;
    font-size: medium;
    font-weight: lighter;
}
input[type = text]:invalid{
    border-bottom: 1px solid #C0392B;
}
/* button*/
input[type = button]{
    width: 20%;
    height: 40px;
    background-color: transparent;
    font-size: medium;
    font-weight: 500;
    color: white;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
}
/* list container*/
.list{
    background-color: #6C7A89;
}
/* ul */
#todo{
    width: 100%;
    list-style-type: none;
}
#done{
    width: 100%;
    list-style-type: none;
}

/* li*/
#todo li{
    width:80%;
    height: 40px;
    background-color: #ABB7B7;
    border-radius: 5px;
    text-indent: 50px;
    position: relative;
    right: -43px;
    margin: 0px 0px 3px 0px;
    font-size: large;
    line-height: 40px;
}
#done li{
    width:80%;
    height: 40px;
    background-color: #ABB7B7;
    border-radius: 5px;
    text-indent: 50px;
    position: relative;
    right: -43px;
    margin: 0px 0px 3px 0px;
    font-size: large;
    line-height: 40px;
    position: relative;
    color: green;
    text-decoration-line: line-through
}
#todo li:last-of-type {
    margin: 0px;
}
#done li:last-of-type {
    margin: 0px;
}
/* list buttons container*/
.buttons{
    width: 80px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
}
/* button tags in li*/
.buttons button{
    width: 40px;
    height: 40px;
    float: left;
    background: none;
    border: 0px;
    position: relative;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
   
}
.buttons button:last-of-type::before{
    content: "";
    width: 1px;
    height: 20px;
    position: absolute;
    top: 10px;
    left:0px;
    background: #6C7A89;
}
/* svg icon delete*/
.buttons button svg{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 46%;
    left: 44%;
    margin: -11px 0 0 -11px;
    cursor: pointer;
}
.remove .active-path{
    fill: grey
}
.remove:hover .active-path{
    fill:red;
}
.complete .active-path{
    fill:white
}
.complete:hover .active-path{
    fill:grey;
}
#done .complete .active-path{
    fill:green
}
#done .complete:hover .active-path{
    fill:white
}

#done:before{
    content: '';
    width: 25%;
    height: 1px;
    background: #ABB7B7;
    position: absolute;
    top: 17px;
    left: 392px;
    margin: 0 0 0 -70px
}
#done{
    position: relative;
    padding: 50px 0 15px 42px;
}
footer{
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: justify;
    font-size: small;
    font-weight: lighter;
}
#todo:empty:after{
    content: "You have nothing in your todo!"
}
#done:empty:after{
    content: "You have not completed any tasks!"
}
#todo:empty:after,
#done:empty:after {
    width:80%;
    text-align: center;
    font-size: medium;
    color: #ABB7B7;
    display: block;
    font-weight: 100;
}
/*Responsive design starts here with 5 breakpoints*/
@media screen and (max-width:1148px) {
    /*Break point 1*/
    .container {
        width:100%;
    }
    .header{
        width:90%
    }
    input[type = text]{
        width: 35%
    }
    input[type = button]{
        width: 20%
    }
    li{
        width: 100%
    }
    #done:before{
        width: 25%
    }
}
@media screen and (max-width:868px) {
    /*Break point 2*/
    .container {
        width:110%;
    }
    .header{
        width:90%
    }
}    
@media screen and (max-width:790px) {
    /*Break point 3*/
    .container {
        widows: 110%;
    }
    .header{
        width:95%
    }
    input[type = text]{
        width: 25%
    }
    input[type = button]{
        width: 15%
    }
    li{
        width: 80%
    }
    #done:before{
        width: 20%
    }
}
@media screen and (max-width:666px) {
    /*Break point 4*/
    .container {
        widows: 110%;
    }
    .header{
        width:100%
    }
    input[type = text]{
        width: 25%
    }
    input[type = button]{
        width: 15%
    }
    li{
        width: 80%
    }
    #done:before{
        width: 25%
    }
}
@media screen and (max-width:634px) {
    /*Break point 5*/
    .container {
        widows: 634px;
    }
    .header{
        width:100%
    }
    input[type = text]{
        width: 25%
    }
    input[type = button]{
        width: 15%
    }
    li{
        width: 80%
    }
    #done:before{
        width: 25%
    }
}